# ==========================================
# Ignorar dependências externas e submódulos
# ==========================================
Simulacao/travesim/

# ==========================================
# Python
# ==========================================
__pycache__/
*.py[cod]
*$py.class
venv/
.env
venv
env

# ==========================================
# C++ e Compilação
# ==========================================
build/
*.o
*.out
*.exe

# ==========================================
# Arquivos de Sistema e Editores de Código
# ==========================================
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
_start.bat
